# ssh
alias sdoc='ssh adi@doc.krang.lan'
alias shoa='ssh adi@hoa.krang.lan'
alias siot='ssh pi@iot.krang.lan'

# git
alias gst='git status'
alias ga='git add .'
alias gaa='git add --all'
alias gc='git commit'
alias gcm='git commit -m'
alias gca='git commit --amend'
alias gcam='git commit --amend -m'

# other
alias ll='ls -lah'

