# ssh
alias sdoc='ssh adi@doc.krang.lan'
alias shoa='ssh pi@hoa.krang.lan'
alias siot='ssh pi@iot.krang.lan'

# git
alias gst='git status'
alias ga='git add .'
alias gaa='git add --all'
alias gc='git commit'
alias gcm='git commit -m'
alias gca='git commit --amend'
alias gcam='git commit --amend -m'

# other
alias ll='ls -lah'

# files
alias ya='yazi'

# bat is called batcat on Debian/Ubuntu
if command -v batcat >/dev/null 2>&1; then
    BAT_CMD=batcat
elif command -v bat >/dev/null 2>&1; then
    BAT_CMD=bat
fi

if command -v fzf >/dev/null 2>&1 && [ -n "$BAT_CMD" ]; then
    alias ff="fzf --preview '$BAT_CMD --style=numbers --color=always {}'"
fi
#editor
alias vi='nvim'

# python
alias py='python3'
