[Unit]
Description=Rsync ARR Script

[Service]
Type=oneshot
ExecStart=%h/scripts/filemanagement/rsync_arr.sh
WorkingDirectory=%h/scripts/filemanagement
